.card {
	border: 0.5px solid #aeaeae;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.card:hover {
	transform: scale(1.05);
}

.player-name-container {
	padding: 10px;
	font-weight: 500;
}

.player-first-name {
	font-size: 2rem;
}

.player-last-name {
	font-size: 3rem;
	font-weight: 900;
}

.player-ranking {
	display: flex;
	flex-direction: row;
	padding: 10px;
}
.player-ranking-text {
	display: flex;
	align-items: center;
	justify-content: center;
}
.player-ranking-text > span {
	font-size: 0.8rem;
	transform: rotate(-90deg);
	margin: -20px;
	position: relative;
	padding-left: 10px;
	top: 21px;
}
.player-ranking-text .larger {
	font-size: 1.2rem;
	font-weight: 400;
	position: relative;
	top: -5px;
	margin: -40px;
	padding-right: 25px;
}
.player-ranking-number {
	font-weight: 600;
	font-size: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}
.player-ranking-flag {
	display: flex;
	justify-content: center;
	align-items: center;
}
.player-ranking-flag > img {
	display: block;
	height: 80px;
	display: block;
	border: 1px solid black;
}
.player-ranking-country {
	display: flex;
	justify-content: center;
	align-items: center;
}
.player-ranking-country > span {
	transform: rotate(-90deg);
	margin: -10px;
	position: relative;
	padding-left: 20px;
	top: 20px;
}

.player-bio-container {
	background: linear-gradient(black, rgba(0, 0, 0, 0.5));
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}



.player-bio {
	display: grid;
	grid-template-columns: 25% 75%;

	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	height: 50px;
}
.player-bio-label {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8rem;
	display: grid;
	justify-content: flex-end;
	width: 90px;
	align-items: center;
}
.player-bio-content {
	padding-left: 50px;
	color: white;
	font-size: 2.2rem;
	display: grid;
	justify-content: flex-start;
	align-items: center;
}
.player-bio-content > div > span {
	display: block;
}
.player-image-container {
	position: absolute;
	right: -18px;
	top: -5px;
	z-index: -1;
}
.player-image-container > img {
	width: 190px;
}

.small {
	font-size: 1.2rem;
}

.smaller {
	font-size: 0.8rem;
	padding-top: -35px;
}

.medium {
	font-size: 1.1rem;
}

.center {
	text-align: center;
}
@media screen and (max-width: 585px) {
	.card {
		overflow: hidden;
	}
	.player-bio-container {
		grid-template-columns: repeat(1, 1fr);
		background-color: rgba(0, 0, 0, 0.9);
	}
	.player-bio-content {
		font-size: 1.4rem;
	}
	.player-image-container {
		right: -80px;
		top: -30px;
		overflow: hidden;
	}
	.player-image-container > img {
		width: 450px;
	}
}

@media screen and (max-width: 1555px) {
	.card {
		overflow: hidden;
	}
	.player-bio-content {
		font-size: 1.4rem;
	}
	.player-image-container {
		right: -80px;
		top: -30px;
		overflow: hidden;
	}
	.player-image-container > img {
		width: 500px;
	}
}