.search-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		width: 40%;
		padding: 10px 25px;
		font-size: 1.5rem;
		border: none;
		text-align: center;
		border-bottom: 1px solid #333;
        transition: 1s ease-in-out;
		&:focus {
			background-color: #333;
			color: white;
			outline: none;
			border-radius: 8px;
		}
		&:hover {
			transform: scale(1.05);
            background-color: #333;
			color: white;
			outline: none;
			border-radius: 8px;
		}
	}
}
